@model Project_Web___Veterinary_Clínic.Models.AppointmentViewModel

@{
    ViewData["Title"] = "Edit Appointment";
}

<h1>Edit Appointment</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Date" class="control-label">Date</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AnimalId" class="control-label">Animal</label>
                <select asp-for="AnimalId" asp-items="Model.Animals" class="form-control"></select>
                <span asp-validation-for="AnimalId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VeterinarianId" class="control-label">Veterinarian</label>
                <select asp-for="VeterinarianId" asp-items="Model.Veterinarians" class="form-control"></select>
                <span asp-validation-for="VeterinarianId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerId" class="control-label">Customer</label>
                <select asp-for="CustomerId" asp-items="Model.Customers" class="form-control"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RoomId" class="control-label">Room</label>
                <select asp-for="RoomId" asp-items="Model.Rooms" class="form-control"></select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
